<mat-grid-list [cols]="isDesktopScreen ? 3 : isTabScreen? 2 : 1" [rowHeight]="isDesktopScreen || isTabScreen ? '3:2' : '1:1'" style="margin: 10px;">

    <mat-grid-tile *ngFor="let item of employee_element" style="margin: 10px;">

        <mat-card class="example-card" style="margin: 10px; ">

        <div fxLayout="row">
            
            <img src="../../assets/photos/img.webp" style="width:55px; height: 55px;margin-top:-7px">

            <div fxFlex="column">

                <mat-card-title>{{item.name}}</mat-card-title>

                <mat-card-subtitle>{{item.position}}</mat-card-subtitle>
            
            </div>
        
        </div>

        <mat-card-content>

            <p>{{item.about}}</p>

            <p><span class="accent">Joining Date: </span>{{item.joining_date}}</p>

        </mat-card-content>

            <mat-divider inset></mat-divider>

            <mat-card-actions fxLayoutGap="10px" fxLayoutAlign="end end">

                <button mat-stroked-button color="primary" (click)="formService.onUpdate(item.id)">Edit</button>

                <button mat-flat-button color="primary" (click)="formService.onDelete(item.id)">Delete</button>

            </mat-card-actions>

        </mat-card>

    </mat-grid-tile>


</mat-grid-list>